<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="pfa" transaction-type="RESOURCE_LOCAL">

        <class>com.borets.pfa.entity.account.Account</class>
        <class>com.borets.pfa.entity.activity.Activity</class>
        <class>com.borets.pfa.entity.activity.ActivityDetail</class>
        <class>com.borets.pfa.entity.analytic.AnalyticSet</class>
        <class>com.borets.pfa.entity.price.RevenueType</class>
        <class>com.borets.pfa.entity.price.PriceList</class>
        <class>com.borets.pfa.entity.price.PriceListDetail</class>
        <class>com.borets.pfa.entity.account.AccountRevision</class>
        <class>com.borets.pfa.entity.account.marketdata.MarketData</class>
        <class>com.borets.pfa.entity.account.appdata.EquipmentType</class>
        <class>com.borets.pfa.entity.account.appdata.EquipmentCategory</class>
        <class>com.borets.pfa.entity.account.system.SystemStd</class>
        <class>com.borets.pfa.entity.account.system.SystemDetail</class>
        <class>com.borets.pfa.entity.account.appdata.ApplicationData</class>
        <class>com.borets.pfa.entity.account.appdata.EquipmentUtilization</class>
        <class>com.borets.pfa.entity.account.appdata.SystemAllocation</class>
        <class>com.borets.pfa.entity.Employee</class>
        <class>com.borets.pfa.entity.account.system.classification.PumpType</class>
        <class>com.borets.pfa.entity.account.system.classification.MotorType</class>
        <class>com.borets.pfa.entity.account.system.classification.VaproConfig</class>
        <class>com.borets.pfa.entity.account.system.classification.SealConfig</class>
        <class>com.borets.pfa.entity.account.system.classification.IntakeConfig</class>
        <class>com.borets.pfa.entity.account.system.classification.PumpConfig</class>
        <class>com.borets.pfa.entity.account.system.classification.Materials</class>
        <class>com.borets.pfa.entity.account.system.classification.Depth</class>
    </persistence-unit>
</persistence>
