<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="pfa" transaction-type="RESOURCE_LOCAL">

        <class>com.borets.pfa.entity.account.Account</class>
        <class>com.borets.pfa.entity.activity.Activity</class>
        <class>com.borets.pfa.entity.activity.ActivityDetail</class>
        <class>com.borets.pfa.entity.analytic.AnalyticSet</class>
        <class>com.borets.pfa.entity.price.RevenueType</class>
        <class>com.borets.pfa.entity.price.PriceList</class>
        <class>com.borets.pfa.entity.price.PriceListDetail</class>
        <class>com.borets.pfa.entity.account.AccountRevision</class>
        <class>com.borets.pfa.entity.account.marketdata.MarketData</class>
        <class>com.borets.pfa.entity.account.appdata.EquipmentType</class>
        <class>com.borets.pfa.entity.account.appdata.EquipmentCategory</class>
        <class>com.borets.pfa.entity.account.system.SystemStd</class>
        <class>com.borets.pfa.entity.account.system.SystemDetail</class>
        <class>com.borets.pfa.entity.account.appdata.ApplicationData</class>
        <class>com.borets.pfa.entity.account.utilization.EquipmentUtilization</class>
        <class>com.borets.pfa.entity.account.utilization.EquipmentUtilizationDetail</class>
        <class>com.borets.pfa.entity.account.appdata.SystemAllocation</class>
        <class>com.borets.pfa.entity.Employee</class>
        <class>com.borets.pfa.entity.account.system.classification.PumpType</class>
        <class>com.borets.pfa.entity.account.system.classification.MotorType</class>
        <class>com.borets.pfa.entity.account.system.classification.VaproConfig</class>
        <class>com.borets.pfa.entity.account.system.classification.SealConfig</class>
        <class>com.borets.pfa.entity.account.system.classification.IntakeConfig</class>
        <class>com.borets.pfa.entity.account.system.classification.PumpConfig</class>
        <class>com.borets.pfa.entity.account.system.classification.Materials</class>
        <class>com.borets.pfa.entity.account.system.classification.Depth</class>
        <class>com.borets.pfa.entity.account.system.classification.PumpMaterials</class>
        <class>com.borets.pfa.entity.account.system.classification.OtherMaterials</class>
        <class>com.borets.pfa.entity.account.system.System</class>
        <class>com.borets.pfa.entity.account.supplementary.Supplementary</class>
        <class>com.borets.pfa.entity.account.supplementary.SupplementaryDetail</class>
        <class>com.borets.pfa.entity.account.supplementary.SupplementaryDetailType</class>
        <class>com.borets.pfa.entity.setting.CountrySetting</class>
        <class>com.borets.pfa.entity.setting.CountrySettingAnalyticDetail</class>
        <class>com.borets.pfa.entity.setting.CountrySettingRevenueType</class>
        <class>com.borets.pfa.entity.setting.CountrySettingEquipmentType</class>
        <class>com.borets.pfa.entity.setting.CountrySettingUtilizationValueType</class>
        <class>com.borets.pfa.entity.account.utilization.EquipmentUtilizationValueType</class>
        <class>com.borets.pfa.entity.account.utilization.EquipmentUtilizationDetailValue</class>
        <class>com.borets.pfa.entity.project.Project</class>
        <class>com.borets.pfa.entity.project.ProjectAssignment</class>
        <class>com.borets.pfa.entity.account.directsale.DirectSale</class>
        <class>com.borets.pfa.entity.account.directsale.DirectSaleDetail</class>
        <class>com.borets.pfa.entity.customer.Customer</class>
        <class>com.borets.pfa.entity.setting.CountrySettingSystemAllocationRemap</class>
        <class>com.borets.pfa.entity.demand.DemandType</class>
        <class>com.borets.pfa.entity.setting.CountrySettingDemandType</class>
    </persistence-unit>
</persistence>
